<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>day #</title>
<!--
  <link rel="stylesheet" href="css/myStyle.css">
  <link rel="stylesheet" href="css/anotherstyle.css">
-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>
  <p>Enter the information to the following inputs to see different kinds of alerts effects.</p>

  <p>Green alert: "alert alert-success"</p>
  <section>
    &lt;div class="
    <input type="text" ng-model="greenClass">
    "&gt;
    <input type="text" ng-model="greenContent">
    &lt;/div&gt;
    <br>
    <div green-alert-directive green-content="{{greenContent}}" green-class="{{greenClass}}"></div>

  </section>
<!--  -->
  <p>Light alert button: "alert alert-info"</p>
  <section>
    &lt;div class="
    <input type="text" ng-model="lightBlueClass">
    "&gt;
    <input type="text" ng-model="lightBlueContent">
    &lt;/div&gt;
    <br>
    <div light-blue-alert-directive light-blue-content="{{lightBlueContent}}" light-blue-class="{{lightBlueClass}}"></div>

  </section>
  <!--  -->
  <p>Orange alert: "alert alert-warning"</p>
  <section>
    &lt;div class="
    <input type="text" ng-model="orangeClass">
    "&gt;
    <input type="text" ng-model="orangeContent">
    &lt;/div&gt;
    <br>
    <div orange-alert-directive orange-content="{{orangeContent}}" orange-class="{{orangeClass}}"></div>

  </section>
  <!--  -->
  <p>Red alert: "alert alert-danger"</p>
  <section>
    &lt;div class="
    <input type="text" ng-model="redClass">
    "&gt;
    <input type="text" ng-model="redContent">
    &lt;/div&gt;
    <br>
    <div red-alert-directive red-content="{{redContent}}" red-class="{{redClass}}"></div>

  </section>






  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives/button-directive.js"></script>
</body>
</html>
