<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>day #</title>
<!--
  <link rel="stylesheet" href="css/myStyle.css">
  <link rel="stylesheet" href="css/anotherstyle.css">
-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>
  <p>Enter the information to the following inputs to see different kinds of button effects.</p>

  <p>Blue button: "btn btn-primary"</p>
  <section>
    &lt;button class="
    <input type="text" ng-model="blueClass">
    "&gt;
    <input type="text" ng-model="blueContent">
    &lt;/button&gt;
    <br>
    <div blue-button-directive blue-content="{{blueContent}}" blue-class="{{blueClass}}"></div>

  </section>
<!--  -->
  <p>Green button: "btn btn-success"</p>
  <section>
    &lt;button class="
    <input type="text" ng-model="greenClass">
    "&gt;
    <input type="text" ng-model="greenContent">
    &lt;/button&gt;
    <br>
    <div green-button-directive green-content="{{greenContent}}" green-class="{{greenClass}}"></div>

  </section>
<!--  -->
  <p>Light blue button: "btn btn-info"</p>
  <section>
    &lt;button class="
    <input type="text" ng-model="lightBlueClass">
    "&gt;
    <input type="text" ng-model="lightBlueContent">
    &lt;/button&gt;
    <br>
    <div light-blue-button-directive light-blue-content="{{lightBlueContent}}" light-blue-class="{{lightBlueClass}}"></div>

  </section>
  <!--  -->
  <p>Orange button: "btn btn-warning"</p>
  <section>
    &lt;button class="
    <input type="text" ng-model="orangeClass">
    "&gt;
    <input type="text" ng-model="orangeContent">
    &lt;/button&gt;
    <br>
    <div orange-button-directive orange-content="{{orangeContent}}" orange-class="{{orangeClass}}"></div>

  </section>
  <!--  -->
  <p>Red button: "btn btn-danger"</p>
  <section>
    &lt;button class="
    <input type="text" ng-model="redClass">
    "&gt;
    <input type="text" ng-model="redContent">
    &lt;/button&gt;
    <br>
    <div red-button-directive red-content="{{redContent}}" red-class="{{redClass}}"></div>

  </section>
  <!--  -->
  <p>Plain button: "btn btn-default"</p>
  <section>
    &lt;button class="
    <input type="text" ng-model="defaultClass">
    "&gt;
    <input type="text" ng-model="defaultContent">
    &lt;/button&gt;
    <br>
    <div default-button-directive default-content="{{defaultContent}}" default-class="{{defaultClass}}"></div>

  </section>
  <!--  -->





  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directives/button-directive.js"></script>
</body>
</html>
